footer.container-fluid.mt-5.bg-light.text-muted
    .container.pb-2
        .row
            .col-12.col-sm-6.pt-4
                +markdown(self.footer)
            .col-6.col-sm-2.pt-4
                img.img-fluid(src='/images/eki_logo.png')
            .col-6.col-sm-3.offset-sm-1.pt-3
                img.img-fluid(src='/images/htm_logo.png')
