footer.container-fluid.mt-5.bg-light.text-muted
    .container.pb-2
        .row
            .col-sm-6.pt-4
                +markdown(self.footer)
            .col-sm-6.pt-4.text-right
                img(src='/images/eki_logo_must_lbipaistev.png', height=160)
