nav.navbar.navbar-dark.bg-dark
    .container
        a.navbar-brand.d-none.d-sm-inline(href=self.path)= self.siteTitle
        ul.navbar-nav.ml-auto
            each path, locale in self.otherLocalePaths
                li.nav-item
                    a.nav-link.pull-right(href=path)= locale.toUpperCase()

.container
    .row.mt-5
        .col-sm.text-center
            img(src='/images/hoimurahvasteprogramm_logo.jpg', height=200)
