html
    position relative
    min-height 100%

body
    margin-bottom: 250px
    font-family 'Noto Sans JP', sans-serif
    font-weight 300
    color #333333

a
a:hover
    color #0056b3

h1
h2
strong
    font-weight 700

input[type="file"]
    width 60rem

select
    background none

.MultiFile-list
    margin 1rem 0

footer
    position absolute
    bottom 0
